#!/usr/bin/env bash

# Schism library needs these ERL options to work with OTP 25
# see https://github.com/elixir-toniq/schism/issues/41
export ELIXIR_ERL_OPTIONS='-kernel prevent_overlapping_partitions false'

export CACHE_STRATEGY=

if [ -f .envrc.local ]; then
  if command -v direnv 2>&1 > /dev/null; then
    source_env .envrc.local
  else
    source .envrc.local
  fi
fi
